[Desktop Entry]
Version=0.1
Name=planarrad
Comment=radiative tranfer tool
Exec=/opt/jude2_install/bin/planarrad_free
Icon= usr/share/icons/PlanarLogo.png
Type=Application
Categories=Math;Science;Education;
Name[en_AU]=planarrad
