#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export QT_SELECT := qt4


export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_configure:
	./example_build
#	./configure --prefix=/usr/bin/jude_test  --with-qtdir=/usr/share/qt4  --with-qtlibdir=/usr/lib


#override_dh_auto_install:
#	  dh_auto_install --destdir=/usr/bin/jude_test
#        make install
override_dh_install:
	dh_install planarrad.desktop usr/share/applications
	dh_install doc_images/logo/PlanarLogo.png  usr/share/icons
#	cp /debian/planarrad.desktop debian/planarrad/usr/share/applications
#	cd build
#	make install
#	dh_auto_install
#	dh_install make install

